@font-face
{
   font-family: "NUMERO DIGITAL 1";
   src: url('');
   src: url('?#iefix') format('embedded-opentype'),
        url('#NUMERO DIGITAL 1') format('svg'),
        url('DS-DIGIT.TTF') format('truetype'),
        url('') format('woff');
}
@font-face
{
   font-family: "NUMERO DIGITAL 2";
   src: url('');
   src: url('?#iefix') format('embedded-opentype'),
        url('#NUMERO DIGITAL 2') format('svg'),
        url('DS-DIGI.TTF') format('truetype'),
        url('') format('woff');
}
@font-face
{
   font-family: "NUMERO DIGITAL 3";
   src: url('');
   src: url('?#iefix') format('embedded-opentype'),
        url('#NUMERO DIGITAL 3') format('svg'),
        url('DS-DIGIB.TTF') format('truetype'),
        url('') format('woff');
}
@font-face
{
   font-family: "NUMERO DIGITAL 4";
   src: url('');
   src: url('?#iefix') format('embedded-opentype'),
        url('#NUMERO DIGITAL 4') format('svg'),
        url('DS-DIGII.TTF') format('truetype'),
        url('') format('woff');
}
@font-face
{
   font-family: "DS-DIGIT";
   src: url('');
   src: url('?#iefix') format('embedded-opentype'),
        url('#DS-DIGIT') format('svg'),
        url('DS-DIGIT.TTF') format('truetype'),
        url('') format('woff');
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
